<template>
  <div>
    <v-container>
      <h2 class="mb-5">{{ job.recording_date }}</h2>
      <p>朝の体温: {{ job.moningbody_temperature }}℃</p>
      <p>朝の体調: {{ job.moningbody_condition }}</p>
      <p>夜の体温: {{ job.nightbody_temperature }}℃</p>
      <p>夜の体調: {{ job.nightbody_condition }}</p>
      <p>気になること: {{ job.etc }}</p>
      <!-- <v-btn
        :to="{ name: 'editor', params: { id: job.id } }"
        color="success"
        class="mr-2"
      >
        編集
      </v-btn> -->
      <v-btn color="success" class="mr-2" @click="editjobData">編集</v-btn>
      <v-btn color="error" @click="deletejobData"> 削除 </v-btn>
    </v-container>
  </div>
</template>
<script>
import { apiService } from "../common/api.service.js";

export default {
  name: "job",
  props: {
    id: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      job: {},
    };
  },
  methods: {
    setPageTitle(title) {
      document.title = title;
    },

    getJobData() {
      let endpoints = "/api/jobs/" + this.id + "/";
      apiService(endpoints).then((data) => {
        this.job = data; //.replace(/\\n/g, "\\n").replace(/\\'/g, "\\'").replace(/\\"/g, '\\"').replace(/\\&/g, "\\&").replace(/\\r/g, "\\r").replace(/\\t/g, "\\t").replace(/\\b/g, "\\b").replace(/\\f/g, "\\f");
        // console.log(this.job);
        // console.log(this.job[this.id]);
        this.setPageTitle(data.recording_date.toString());
      });
    },
    deletejobData() {
      let endpoint = "/api/jobs/" + this.id + "/";
      apiService(endpoint, "DELETE").then(() => {
        this.$router.push({
          name: "Home",
        });
      });
    },
    editjobData() {
      this.$router.push({
        name: "editor",
        params: { id: this.id },
      });
    },
  },
  created() {
    this.getJobData();
  },
};
</script>
