<template>
  <div>
    <v-container>
      <form @submit.prevent="onSubmit">
        <!-- <datepicker /> -->
        <!-- <Datepicker v-model="recording_date" label="測定日"></Datepicker> -->
        <v-col class="d-flex">
          <v-date-picker
            disabled-dates="disabledDates"
            v-model="recording_date"
            color="success"
            full-width
          ></v-date-picker>
        </v-col>
        <!-- <v-calendar v-model="recording_date"></v-calendar> -->
        <!-- <v-text-field
          v-model="recording_date"
          label="測定日"
          required
        ></v-text-field> -->
        <v-col class="d-flex">
          <v-text-field
            type="number"
            v-model="moningbody_temperature"
            label="朝の体温"
            step="0.1"
            min="34"
            max="42"
            required
          ></v-text-field>
        </v-col>
        <!-- <v-text-field
          v-model="moningbody_condition"
          label="朝の体調"
        ></v-text-field> -->
        <v-col class="d-flex">
          <v-select
            v-model="moningbody_condition"
            :items="item"
            label="朝の体調"
          ></v-select>
        </v-col>
        <v-col class="d-flex">
          <v-text-field
            type="number"
            v-model="nightbody_temperature"
            label="夜の体温"
            step="0.1"
            min="34"
            max="42"
          ></v-text-field>
        </v-col>
        <v-col class="d-flex">
          <!-- <v-text-field
            v-model="nightbody_condition"
            label="夜の体調"
          ></v-text-field> -->
          <v-select
            v-model="nightbody_condition"
            :items="item"
            label="夜の体調"
          ></v-select>
        </v-col>
        <v-col class="d-flex">
          <v-text-field v-model="etc" label="備考"></v-text-field>
        </v-col>
        <div class="text-center">
          <v-btn color="success" type="submit">送信</v-btn>
        </div>
      </form>
    </v-container>
  </div>
</template>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script>
import { apiService } from "../common/api.service.js";
import Datepicker from "vuejs-datepicker";

export default {
  name: "JobEditor",
  components: {
    Datepicker,
  },
  props: {
    id: {
      type: Number,
      required: false,
    },
  },
  data() {
    return {
      recording_date: new Date().toISOString().substr(0, 10),
      moningbody_temperature: null,
      moningbody_condition: null,
      nightbody_temperature: null,
      nightbody_condition: null,
      etc: null,
      error: null,
      select: { state: "元気" },
      items: [
        { state: "元気", abbr: "元気" },
        { state: "高熱", abbr: "高熱" },
        { state: "だるさ", abbr: "だるさ" },
        { state: "せき", abbr: "せき" },
        { state: "頭痛", abbr: "頭痛" },
      ],
      item: ["元気", "熱っぽい", "だるい", "せき", "頭痛"],
      disabledDates: {
        to: new Date(),
      },
    };
  },
  methods: {
    onSubmit() {
      let endpoint = "/api/jobs/";
      let method = "post";
      console.log("1");
      if (this.id !== undefined) {
        endpoint += this.id + "/";
        method = "PUT";
      }
      apiService(endpoint, method, {
        recording_date: this.recording_date,
        moningbody_temperature: this.moningbody_temperature,
        moningbody_condition: this.moningbody_condition,
        nightbody_temperature: this.nightbody_temperature,
        nightbody_condition: this.nightbody_condition,
        etc: this.etc,
        error: null,
      }).then((job_data) => {
        this.$router.push({
          name: "job",
          params: { id: job_data.id },
        });
      });
    },
  },
  async beforeRouteEnter(to, from, next) {
    if (to.params.id !== undefined) {
      let endpoint = "/api/jobs/" + to.params.id + "/";
      let data = await apiService(endpoint);
      return next((vm) => {
        (vm.recording_date = data.recording_date),
          (vm.moningbody_temperature = data.moningbody_temperature),
          (vm.moningbody_condition = data.moningbody_condition),
          (vm.nightbody_temperature = data.nightbody_temperature),
          (vm.nightbody_condition = data.nightbody_condition),
          (vm.etc = data.etc);
      });
    } else {
      return next();
    }
  },

  // async asyncdata() {
  //   if (this.id !== undefined) {
  //     console.log(this.id);
  //     let endpoint = "/api/jobs/" + this.id + "/";
  //     apiService(endpoint).then((data) => {
  //       console.log("ff");
  //       this.job = data;
  //     });
  //   }
  // },
  created() {
    document.title = "Editor - health";
    // console.log(this.id);
  },
};
</script>
